spring:
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-5-nano
          temperature: 1

      embedding:
        options:
          model: text-embedding-3-small

    vectorstore:
      pgvector:
        dimensions: 1536
        table-name: vector_store_large
