spring:
  application:
    name: proposal-assistant-service
  ai:
    mcp:
      client:
        sse:
          connections:
            scheduler:
              url: http://localhost:18082/proposal-mcp-service/sse

    vectorstore:
      pgvector:
        initialize-schema: false
        schema-name: ${DB_SCHEMA}

    chat:
      memory:
        repository:
          jdbc:
            schema: ${DB_SCHEMA}
            initialize-schema: never

  threads:
    virtual:
      enabled: true

  datasource:
    username: ${DB_USER}
    password: ${DB_PASS}
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}?applicationName=${spring.application.name}
    hikari:
      schema: ${DB_SCHEMA}

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: ${DB_SCHEMA}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

server:
  port: 8083
  servlet:
    context-path: /${spring.application.name}
  shutdown: immediate

logging:
  level:
    com.example: debug
    org.springframework.ai: debug
